<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="fragments/header"></head>

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">훈련실행</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">dashboard</i>f
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                  <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                  <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                  <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">훈련 프로젝트 리스트</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                  </div>
                  <div class="material-datatables">
                    <table id="TPRDatatable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                          <th style="opacity: 0;"></th>
                          <th>훈련 프로젝트명</th>
                          <th>훈련 시작일</th>
                          <th>훈련 종료일</th>
                          <th class="disabled-sorting">훈련 유형</th>
                          <th>훈련 상태</th>
                          <th>발송 횟수</th>
                          <th class="disabled-sorting">훈련 실행</th>
                        </tr>
                      </thead>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->

        </div>
      </div>

      <footer th:replace="fragments/footer"></footer>

      <div class="modal fade" id="sendModal" tabindex="-1" role="">
        <div class="modal-dialog modal-login" role="document">
          <div class="modal-content">
            <div class="card card-signup card-pricing">
              <div class="modal-header">
                <div class="card-header card-header-rose text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                  </button>
                  <h4 class="card-title">훈련 실행</h4>
                </div>
              </div>
              <div class="modal-body">

                <form class="form" method="" action="">
                  <div class="card-body">
                    <div class="card-icon icon-rose">
                      <i class="material-icons">email</i>
                    </div>
                    <h3 class="card-title" id="send_trpNm"></h3>
                    <p class="" id="send_trpDesc"></p>
                    <a href="javascript:;" class="btn btn-rose btn-round" id="exe_btn">훈련 실행</a>
                  </div>
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

  <script src="https://cdn.jsdelivr.net/gh/jquery-form/form@4.3.0/dist/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
  <script>

   function getProjectDetails(trpId,trsId,tugId) {
      $.ajax({
        url: "getProjectDetails.do",
        type: "POST",
        dataType: "json",
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        data: {
          'trpId': trpId,
          'trsId': trsId,
          'tugId': tugId
        },
        success: function (result) {
          var trp_data = result.trp_data;
          var trs_data = result.trs_data;
          var tug_data = result.tug_data;

          console.log(result);
          $('#send_trpNm').html(trp_data.trpNm);
          $('#send_trpDesc').html(tug_data.tugNm+"("+tug_data.tugCount+"명)을 대상으로 훈련메일을 발송하시겠습니까?");

        },
        error: function (thrownError) {
          console.log(thrownError);
        }
      });
    }

  function sendMails(trpId, trsId, tugId, attachmentContents) {
     $.ajax({
        url: "sendMails.do",
        type: "POST",
        dataType: "json",
        data : {
          'trpId'   : trpId,
          'trsId'   : trsId,
          'tugId'   : tugId,
          'attach'  : attachmentContents,
      },
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token);
        },
        success: function (result) {
          console.log(result);
        },
        error: function (thrownError) {
          console.log(thrownError);
        }
      });
  }

    $(document).ready(function() {

      $('#TPRDatatable').DataTable({
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "All"]
        ],
        responsive: true,
        language: lang_kor,
        ajax : {
          type : "POST",
          url : "getTRPDatatable.do",
          dataType : "JSON",
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
        },
        order : [0,"desc"],
        ordering: true,
        columns : [
          {data : "trpId"},
          {
            data : "trpNm",
            render : function(data, type, row) {
              var trpId = row['trpId'];
              var trsId = row['trsId'];
              var tugId = row['tugId'];
              var href ="/status_detail?trp="+trpId+"&tug="+tugId+"&trs="+trsId;
              return '<a href="'+href+'" target="_blank"><i class="material-icons">search</i></a>  '+data;
            }
          },
          {data : "trpStart", className: "text-center"},
          {data : "trpEnd", className: "text-center"},
          {data : "trpType", className: "text-center"},
          {
            data : "trpStatus",
            className: "text-center",
            searchable : false,
            render : function(data) {
              var badge = '';
              if(data === "대기") {
                badge = '<span id ="trp_status" class="badge badge-secondary">휸련'+data+'</span>';
              } else if(data === "진행중") {
                badge = '<span id ="trp_status" class="badge badge-warning">훈련'+data+'</span>';
              } else if(data === "완료") {
                badge = '<span id ="trp_status" class="badge badge-success">훈련'+data+'</span>';
              }
              return badge;
            }
          },
          {
            data : "trpSent",
            className: "text-center",
            render : function (data) {
                return data+"회";
              }
          },
          {
            data : "trpId",
            searchable : false,
            render : function (data, type, row) {
              var trpId = row['trpId'];
              var trsId = row['trsId'];
              var tugId = row['tugId'];
              var send_btn = '';
              if(row['trpStatus'] === "대기") {
                send_btn = '<button type="button" class="btn btn-info btn-sm send-btn" data-trp_id="'+trpId+'" data-trs_id="'+trsId+'" data-tug_id="'+tugId+'" data-toggle="modal" data-target="#sendModal">발송하기</button>';
              } else if(row['trpStatus'] === "완료") {
                send_btn = '<button type="button" class="btn btn-success btn-sm send-btn" data-trp_id="'+trpId+'" data-trs_id="'+trsId+'" data-tug_id="'+tugId+'" data-toggle="modal" data-target="#sendModal">재발송하기</button>';
              } else if(row['trpStatus'] === "진행중") {
                send_btn = '훈련 진행중..';
              }
              return send_btn;
            }
          },

      ],
        columnDefs : [{
          targets : 0,
          visible : false,
          searchable : false
        }
        ]

      });

      var table = $('#TPRDatatable').DataTable();

      // Edit record
      table.on('click', '.send-btn', function() {
        var trpId = $(this).attr('data-trp_id');
        var trsId = $(this).attr('data-trs_id');
        var tugId = $(this).attr('data-tug_id');

        getProjectDetails(trpId,trsId,tugId);

        $('#exe_btn').attr('data-trp_id',trpId).attr('data-trs_id',trsId).attr('data-tug_id',tugId);

      });

      table.on('click', '.more-btn', function() {
        var trpId = $(this).attr('data-trp_id');
        var trsId = $(this).attr('data-trs_id');
        var tugId = $(this).attr('data-tug_id');
        location.href="/status_detail?trp="+trpId+"&tug="+tugId+"&trs="+trsId;
      });

      $('#exe_btn').click(function(e) {
        e.preventDefault();
        var trpId = $(this).attr('data-trp_id');
        var trsId = $(this).attr('data-trs_id');
        var tugId = $(this).attr('data-tug_id');
        var attachmentContents = '';

        $.ajax({
          url: "getAttach.do",
          type: "POST",
          dataType: "json",
          data : {
            'trsId'   : trsId,
          },
          beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
          },
          success: function (result) {
            var url = "http://localhost:8080/attachmentDownload.do?anm="+result.attachNm+"&at="+result.attachType;
            attachmentContents = '<div style="border:1px solid #ededee;width:80%;padding-left:10px;padding-top:2px;padding-bottom:2px;vertical-align:middle">'+
                      '<img alt="" title="" height="20px" src="" style="vertical-align:middle;padding-right:5px">'+
                      '<span style="font-size:12pt;color:#333333;vertical-align:middle">대용량 첨부파일 : </span>'+
                      '<span style="color:#0000ff;vertical-align:middle">'+
                      '<a style="color:#0000ff" href="'+url+'" data-saferedirecturl="'+url+'" target="_blank">'+result.attachNm+'.'+result.attachType+'('+result.attachSize+'KB)</a></span> </div>';

            sendMails(trpId, trsId, tugId, attachmentContents);
            },
              error: function (thrownError) {
                console.log(thrownError);
              }
        });

      });

      $('.close').click(function(e) {
        e.preventDefault();
        $('#exe_btn').removeData('trs_id').removeData('trp_id').removeData('tug_id');
      });



    });
  </script>
</body>

</html>