<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:replace="fragments/header"></head>

    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">훈련 프로젝트</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                  <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                  <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                  <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header card-header-text card-header-primary">
                  <div class="card-text">
                    <h4 class="card-title">01 훈련 기본 설정</h4>
                  </div>
                </div>
                <div class="card-body project">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group md-form-group">
                        <label class="md-label-floating">훈련 프로젝트명</label>
                        <input type="text" class="form-control" id="trp_nm">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group md-form-group">
                        <label class="md-label-floating">훈련 프로젝트 내용</label>
                        <input type="text" class="form-control" id="trp_content">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-2 col-form-label">훈련 시작일</label>
                    <div class="col-sm-4">
                      <div class="form-group md-form-group is-filled">
                        <input type="text" class="form-control datetimepicker" id="trp_start">
                      </div>
                    </div>
                    <label class="col-sm-2 col-form-label">훈련 종료일</label>
                    <div class="col-sm-4">
                      <div class="form-group md-form-group is-filled">
                        <input type="text" class="form-control datetimepicker" id="trp_end">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3">훈련 대상자그룹</label>
                    <div class="col-sm-9">
                      <select class="selectpicker" data-size="7" data-style="btn btn-primary" title="훈련 대상자그룹" id="tug_id">

                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                 <div class="card-header card-header-text card-header-primary">
                  <div class="card-text">
                    <h4 class="card-title">02 훈련 기능 설정</h4>
                  </div>
                </div>
                <div class="card-body project">
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="card-title">메일 양식</h5>
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="mfi_selected" value="" disabled="">
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-primary btn-round" data-toggle="modal" data-target="#mfiModal">선택하기</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="card-title">피싱기능</h5>
                      <div class="togglebutton">
                        <label>
                          <span class="card-title">피싱 기능 사용</span>
                          <input type="checkbox" id="trs_phishing" value="yes">
                          <span class="toggle"></span>
                        </label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="phishing_url opacity0">
                        <div class="form-group md-form-group">
                          <label class="md-label-floating">피싱사이트 URL</label>
                          <input type="text" class="form-control" id="trs_phishing_url">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h5 class="card-title">훈련메일 위반기준</h5>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="trs_open" value="yes"> 메일 열람
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="trs_click" value="yes"> 링크 클릭
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="trs_attach_click" value="yes"> 첨부파일 다운로드
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="trs_attach_open" value="yes"> 첨부파일 실행
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                      <div class="form-check form-check-inline phishing_content opacity0">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" id="trs_phishing_content" value="yes"> 피싱사이트 정보입력
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
          <div class="row">
            <div class="col-md-12 text-center">
              <button type="button" class="btn btn-success btn-lg" id="project_reg">생성하기</button>
            </div>
          </div>

            <!-- end col-md-12 -->
        </div>
      </div>
    </div>

    <div class="modal fade" id="mfiModal" tabindex="-1" role="" style="margin-left: -8%;">
        <div class="modal-dialog modal-login" role="document">
          <div class="modal-content" style="width: 1000px;">
            <div class="card card-signup">
              <div class="modal-header">
                <div class="card-header card-header-primary text-center">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                  </button>
                  <h4 class="card-title">훈련 컨텐츠 선택하기</h4>
                </div>
              </div>
              <div class="modal-body col-md-12">
                <form class="form" method="" action="">
                  <div class="card-body mfi-card-section">
                    <div class="col-md-4">
                      <div class="card mfi-card" style="width: 18rem;">
                        <img class="card-img-top" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/img-1-1000x600.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title mailform_nm"></h5>
                          <p class="card-text mailform_mail_title"></p>
                          <p class="card-text mailform_mail_nm"></p>
                          <p class="card-text mailform_mail_addr"></p>
                          <a href="javascript:;" class="btn btn-primary button-wrapper">사용하기</a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

<footer th:replace="fragments/footer"></footer>

  <script>

    var token = $("input[name='_csrf']").val();
    var header = "X-CSRF-TOKEN";

    function getMailforms() {
      $.ajax({
          url : "getMailforms.do",
          type : "POST",
          dataType : "json",
          beforeSend : function(xhr) {
          xhr.setRequestHeader(header, token);
          },
          success : function(result) {
            console.log(result);

            var data = result.data;
            var mfi_card = $('.mfi-card').parent();

            for(i in data) {
              var lastItemClone = mfi_card.clone();
              lastItemClone.find('.mailform_nm').append(data[i]['mfi_nm']);
              lastItemClone.find('.mailform_mail_addr').append(data[i]['mfi_mail_addr']);
              lastItemClone.find('.mailform_mail_nm').append(data[i]['mfi_mail_nm']);
              lastItemClone.find('.mailform_mail_title').append(data[i]['mfi_mail_title']);
              lastItemClone.find('.button-wrapper').attr('data-mfi_id',data[i]['mfi_id']);
              $('.mfi-card-section').append(lastItemClone);
            }
            $('.mfi-card').first().hide();
          },
          error : function(thrownError) {
            console.log(thrownError);
          }
      });
    }

    function getToday(){
        var now = new Date();
        var year = now.getFullYear();
        var month = now.getMonth() + 1;    //1월이 0으로 되기때문에 +1을 함.
        var date = now.getDate();

        month = month >=10 ? month : "0" + month;
        date  = date  >= 10 ? date : "0" + date;

        var today = ""+year+"-"+month+"-"+date;
        $('.datetimepicker').val(today);
    }

    function getTUGs() {

      $.ajax({
          url : "getUsergroupDatatable.do",
          type : "POST",
          processData: false,
          contentType: false,
          beforeSend : function(xhr) {
          xhr.setRequestHeader(header, token);
          },
          success : function(result) {
            console.log(result);
            var options = '<option disabled selected>훈련 대상자그룹</option>';
            for(i in result.data) {
              options += '<option value="'+result.data[i].tugId+'">'+result.data[i].tugNm+'('+result.data[i].tugCount+'명)'+'</option>';
            }
            $('select#tug_id').html(options).selectpicker('refresh');
          },
          error : function(thrownError) {
            console.log(thrownError);
          }
      });
    }

    function insertProject() {
      var ajaxdatas = {
        'trp_nm' : $('#trp_nm').val(),
        'trp_content' : $('#trp_content').val(),
        'trp_start' : $('#trp_start').val(),
        'trp_end' : $('#trp_end').val(),
        'trp_interval' : $('#trp_interval').val(),
        'tug_id' : $('#tug_id').val(),
        'mfi_id' : $('#mfi_selected').data('mfiid'),
        'trs_open' : $('#trs_open').is(':checked'),
        'trs_click' : $('#trs_click').is(':checked'),
        'trs_attach_click' : $('#trs_attach_click').is(':checked'),
        'trs_attach_open' : $('#trs_attach_open').is(':checked'),
        // 'trs_attach_nm' : $('#trs_attach_nm').val(),
        // 'trs_attach_type' : $('#trs_attach_type').val(),
        'trs_phishing' : $('#trs_phishing').is(':checked'),
        'trs_phishing_url' : $('#trs_phishing_url').val(),
        'trs_phishing_content' : $('#trs_phishing_content').is(':checked'),
      };
      console.log(ajaxdatas);

      // $.ajax({
      //     url : "registerProject.do",
      //     type : "POST",
      //     processData: false,
      //     contentType: false,
      //     data : ajaxdatas,
      //     beforeSend : function(xhr) {
      //     xhr.setRequestHeader(header, token);
      //     },
      //     success : function(result) {
      //       console.log(result);
      //       Swal.fire({
      //         title : '등록 완료!',
      //       }).then((result) => {
      //         if (result.isConfirmed) {
      //           location.reload();
      //         }
      //       });
      //     },
      //     error : function(thrownError) {
      //       console.log(thrownError);
      //     }
      // });
    }

    $(document).ready(function() {

      getToday();
      getMailforms();
      getTUGs();

      $('.datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD',
        icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-screenshot',
          clear: 'fa fa-trash',
          close: 'fa fa-remove'
        },
      });

      $('#trs_phishing').on('click', function() {
        if($(this).is(':checked')) {
          $('.phishing_url').addClass('opacity1').removeClass('opacity0');
          $('.phishing_content').addClass('opacity1').removeClass('opacity0');
        } else {
          $('.phishing_url').addClass('opacity0').removeClass('opacity1');
          $('.phishing_content').addClass('opacity0').removeClass('opacity1');
        }
      });

      $('body').on('click', '.button-wrapper', function(e){
        e.preventDefault();
        $('#mfiModal .close').click();
        var mail_nm = $(this).parent().find('.mailform_nm').text();
        var mfi_id = $(this).data('mfi_id');
        $('#mfi_selected').val(mail_nm).attr('data-mfiId',mfi_id);
        $('.btn.btn-primary.btn-round').html("변경하기");
      });

      $('#project_reg').click(function(e) {
        e.preventDefault();
        insertProject();
      });

      // $('a[data-target="#mfiModal"]').click(function() {
      //
      // });

    });
  </script>

</body>

</html>